.home_container{
    background-color: #EFF7FF;
    /* height: 100vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.sortby_male_female{
    width: 75%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid cyan; */
}
.btn{
    padding: 10px 40px;
    border: 1px solid #3A3E9F;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
.female{
    background-color: #3A3E9F;
    color: #fff;
    margin-left: 20px;
}
.male{
    background-color: #fff;
    color:#3A3E9F;
}

/* card container */
.card_container{
    width: 80%;
}